<div class="container">
<h1 class="text-center" style="margin-top: 30px;">About</h1>
<h2>Idea</h2>
<p class="aboutfont">Some of the feedback I hear from new developers working on a programming problem revolves around uncertainty of syntax of programming languages. They understand the problem, the logic.The problem occurs when it comes to code.They are not familiar with the basic syntax of programming languages and make petty mistakes which they may take hours to figure out and hence leaving them hopeless.  If you see someone else’s code or have someone to guide you, you can follow along. But maybe you feel uncertain about doing it yourself and have trouble turning your thoughts into code at first even though you understand the logic.</p>
<p class="aboutfont"><strong>LetUsCode</strong> is an idea to help those budding programmers to learn how to write syntactically correct code from the experienced teachers live.</p>
<h2>How it works?</h2>
<p class="aboutfont">The LetUsCode platform has an advanced text editor meant specifically for coding where the teacher and student, both can do live coding. It has an online video calling feature through which doubts can bee solved instantly with crisp explanation of each and every line of code. Moreover, chat box feature is also available, in case of slow internet connection or if many students join the session taught by a teacher.</p>
<h2>Other Uses</h2>
<ul class="aboutfont">
	<li>Solve programming challenges.</li>
	<li>Find bugs in code by sharing the code.</li>
	<li>Explain various algorithm by implementing them from scratch.</li>
	<li>Discuss strategy during contests when team members are far apart.</li>
</ul>
<p class="aboutfont">It is a platform which has multiple uses and can be used by anyone.</p>

<p class="aboutfont"><h1>Made by: Deepesh baid (8233669588)</h1></p>

</div>